.messageTitleStyle {
    -unity-font-style: bold;
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=2230732570650464555&guid=a7dd72139b8ab4e18b210dffc6676ab8&type=3#NotInter-Regular");
    font-size: 28px;
}

.messageBodyStyle {
    -unity-text-align: upper-left;
    font-size: 33px;
    white-space: normal;
}
